<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login with Captcha</title>
</head>
<body>
    
    <h1>Hello, please login</h1>
    
    <form method="post" action="/captcha" data-th-object="${user}">
        <input type="hidden" value="SecretImage123" name="passphrase">
        <input type="hidden" data-th-value="${attempt}" name="attempt">
        <table>
            <tr>
                <td>Name: </td>
                <td>
                    <input type="text" data-th-field="*{name}">
                    <span data-th-if="${#fields.hasErrors('name')}" data-th-errors="*{name}"
                        data-th-errorclass="error"></span>
                </td>
            </tr>
            <tr>
                <td>Password: </td>
                <td>
                    <input type="password" data-th-field="*{password}">
                    <span data-th-if="${#fields.hasErrors('password')}" data-th-errors="*{password}"
                        data-th-errorclass="error"></span>
                </td>
            </tr>
            <tr>
                <td>Please type in the word: <span data-th-text=${generatedcaptcha}></span></td>
            </tr>
            <tr>
                <td>Captcha: </td>
                <td>
                    <input type="text" name="captcha">
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <button type="submit">Login</button>
                </td>
            </tr>
        </table>
    </form>

</body>
</html>